.contact-container {
  display: flex;
  background-color: var(--main-brand);
  padding:15px;
  justify-content: space-evenly;
  /* color: var(--light-shades); */
  font-size: 1.2rem;
  font-weight: 600;
}
.contact-container a:hover {
  transform: translateY(-5px);
  color: var(--dark-accent);
  transition: all 0.4s ease-in-out;
}
.contact-container a {
  color: var(--light-shades);
  text-decoration: none;
  
}