.aboutme-container {
  padding: 40px;
  display: flex;
  gap: var(--gap);
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
background-color: var(--dark-shades);
border: 1px solid var(--main-brand);
line-height: 1.5rem;
;

}

/* .aboutme-container img {
 width:200px;
  height: 150px;
  border-radius: 40%;
  margin: 0 2rem 0 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */
.aboutme-container h1{
margin-bottom: 3vh;
color: var(--light-shades)
}